.GameField {
    display: flex;
    position: relative;
}

.GameField-overfull {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.5);
}

.GameField-col {
    display: flex;
    flex-direction: column;
}

.GameField-point {
    display: flex;
    margin: 4px;
    align-items: center;
    justify-content: center;
}
