.Header {
    display: flex;
    align-items: baseline;
}

.Header-title {
    margin-right: 12px;
}

.Header .Header-mode,
.Header .Header-complexity,
.Header .Header-size,
.Header .Header-rowSize {
    margin: 0 6px;
}
