.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-state {
  display: flex;
  align-items: center;
}
